//------
// Bulma
// -----
$footer-padding: 3rem 1.5rem 3rem;

// Override Bulma theme by defining variables above here ^
@import 'bulma';

//-------------------
// Ember Power Select
// ------------------

// Override ember-power-select by definig variables above here ^
@import 'ember-power-select';

/// ------------
/// Ember-Toggle
/// ------------

// Set background color for checked box to our primary color
.x-toggle:checked + label > .x-toggle-ios.x-toggle-btn {
  background: $primary;
}

// Some funky sizing problems happen, just give it enough space
.x-toggle-container.small {
  width: 3.5rem;
}

.x-toggle-ios.x-toggle-btn {
  background: $grey-lighter;
}

//-------------------
// Custom
// ------------------

html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > * {
    overflow: auto;
  }
}

#main-search {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  #main-search-columns {
    flex-grow: 1;
    overflow: hidden;
    @extend .m-0;
    @extend .p-0;

    #column-left-filters {
      overflow: hidden;
      background-color: $white-bis;
      display: flex;
      flex-direction: column;

      @extend .is-one-quarter-desktop;
      @extend .is-one-third-tablet;
      @extend .m-0;
      @extend .p-0;

      #search-filters {
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
        flex-grow: 1;

        #search-filters-control-bar-bottom {
          border-top: 1px solid $grey-lighter;
          @extend .px-4;
          @extend .py-2;
        }

        #search-filters-fields {
          overflow: auto;
          flex-grow: 1;

          #search-filters-basic {
            @extend .pt-2;
            @extend .px-4;
          }

          #search-filters-advanced {
            @extend .mt-6;
            @extend .pr-4;
            @extend .pl-2;
            @extend .ml-2;

            border-left: 0.25rem solid $primary;

            #filters-collapse-advanced-toggle {
              @extend .mb-0;
            }
          }
        }
      }
    }

    #column-right-results {
      overflow: hidden;
      display: flex;
      flex-direction: column;

      @extend .m-0;
      @extend .p-0;

      #search-control-bar-top {
        border-bottom: 2px solid $light;

        @extend .px-4;
      }

      #results {
        overflow: auto;
        @extend .px-4;
        @extend .py-4;

        > * {
          border-bottom: 2px solid $light;
          @extend .pb-4;
        }
      }
    }
  }
}
