// Use copied stylesheet cause sass and imports don't go well together often
@import './highlightjs-default';
@import './redirect-page';

//------
// Bulma
// -----
$footer-padding: 1rem 1.5rem 1rem;

// Override Bulma theme by defining variables above here ^
@import 'bulma';

// Copy styling from `.tabs li.is-active a` as this is easier to add active
// classes to in Ember.
.tabs li a.is-active {
  color: $tabs-link-active-color;
  border-bottom-color: $tabs-link-active-border-bottom-color;
}

// No.
.tabs {
  @extend .mb-0;
}

//-------------------
// Ember Power Select
// ------------------

// Override ember-power-select by definig variables above here ^
@import 'ember-power-select';

/// ------------
/// Ember-Toggle
/// ------------

// Set background color for checked box to our primary color
.x-toggle:checked + label > .x-toggle-ios.x-toggle-btn {
  background: $primary;
}

// Some funky sizing problems happen, just give it enough space
.x-toggle-container.small {
  width: 3.5rem;
}

.x-toggle-ios.x-toggle-btn {
  background: $grey-lighter;
}

//-------------------
// Custom
// ------------------

html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > * {
    overflow: auto;
  }
}

#main-search {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  #main-search-columns {
    flex-grow: 1;
    overflow: hidden;
    @extend .m-0;
    @extend .p-0;

    #column-left-filters {
      overflow: hidden;
      background-color: $white-bis;
      display: flex;
      flex-direction: column;

      @extend .is-one-quarter-desktop;
      @extend .is-one-third-tablet;
      @extend .m-0;
      @extend .p-0;

      #search-filters {
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
        flex-grow: 1;

        #search-filters-control-bar-bottom {
          border-top: 1px solid $grey-lighter;
          @extend .px-4;
          @extend .py-2;
        }

        #search-filters-fields {
          overflow: auto;
          flex-grow: 1;

          #search-filters-basic {
            @extend .pt-2;
            @extend .px-4;
          }

          #search-filters-advanced {
            @extend .mt-6;
            @extend .pr-4;
            @extend .pl-2;
            @extend .ml-2;

            border-left: 0.25rem solid $primary;

            #filters-collapse-advanced-toggle {
              @extend .mb-0;
            }
          }
        }
      }
    }

    #column-right-results {
      overflow: hidden;
      display: flex;
      flex-direction: column;

      @extend .m-0;
      @extend .p-0;

      #search-control-bar-top {
        border-bottom: 2px solid $light;

        @extend .px-4;
      }

      #results {
        overflow: auto;
        @extend .px-4;
        @extend .py-4;

        > * {
          border-bottom: 2px solid $light;
          @extend .pb-4;
        }
      }
    }
  }
}

#main-info {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  figure {
    border: 1px solid $primary;
  }

  nav {
    flex-shrink: 0;
  }

  #main-info-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;

    main {
      flex-grow: 1;
    }
  }
}

#info-code-snippet-iframe-renderer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $primary;

  &:not(.rendered) {
    background-color: $white-bis;
    height: 300px;
  }
}

// Content changed animation used in the info/for-municipalities page
@keyframes contentChanged {
  0% {
    opacity: 25%;
  }
  50% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

.changed-content {
  animation: contentChanged 1s linear;
}

.highlight-marked {
  > em {
    @extend .px-1;
    @extend .my-2;
    font-style: inherit;
    background-color: adjust-color($color: $primary, $alpha: -0.6);
    // background-color: $primary-light;
  }
}

.is-flex-1 {
  flex: 1 !important;
}
