<div class="pt-3 px-5">
  {{! Top Bar }}
  <div class="is-flex is-flex-wrap-wrap is-justify-content-space-between">
    <PaginationLabel
      class="my-2 mr-4"
      @pagination={{@results.meta.pagination}}
      @count={{@results.meta.count}}
    />
    <Pagination class="my-2 mr-4" @pagination={{@results.meta.pagination}} />
    <SortButton class="my-2" />
  </div>
  <hr />
  {{! Results }}
  {{#each @results.content as |result|}}
    <div class="block">
      <Zoek::ZoekResultaat @result={{result}} />
      <hr />
    </div>
  {{/each}}
</div>