<div class="pt-3 px-5">
  {{! Top Bar }}
  <div
    class="is-flex is-flex-direction-row is-justify-content-space-between is-flex-wrap-wrap is-align-content-space-between"
  >
    <PaginationLabel
      @pagination={{@results.meta.pagination}}
      @count={{@results.meta.count}}
    />
    <Pagination @pagination={{@results.meta.pagination}} />
    <SortButton />
  </div>
  <hr />
  {{! Results }}
  {{#each @results.content as |result|}}
    <div class="block">
      <Zoek::ZoekResultaat @result={{result}} />
      <hr />
    </div>
  {{/each}}
</div>