<div ...attributes id="zoekFilters">
  <div class="field">
    <label id="zoekterm-label" class="label">
      Zoekterm
    </label>
    <div id="zoekterm" class="control">
      <input
        class="input"
        type="text"
        placeholder="Wilgenlaan, sport, kerkfabriek, ..."
        aria-labbeledBy="zoekterm-label"
      />
    </div>
  </div>
</div>