<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>
        XXXParticipatie
      </strong>
      door
      <a href="https://redpencil.io">
        redpencil.io
      </a>
    </p>
  </div>
</footer>