<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <LinkTo @route="index" class="navbar-item" @activeClass="is-active">
      <img
        src="https://bulma.io/images/bulma-logo.png"
        width="112"
        height="28"
        alt="LokaalBeslist"
      />
    </LinkTo>
    <div
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbar-entries"
      {{on "click" this.toggleBurger}}
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>
  </div>
  <div
    id="navbar-entries"
    class="navbar-menu {{if this.burgerActive "is-active"}}"
  >
    <div class="navbar-start">
      <LinkTo @route="search" class="navbar-item" @activeClass="is-active">
        Zoek
      </LinkTo>
      <LinkTo @route="info" class="navbar-item" @activeClass="is-active">
        Info
      </LinkTo>
      <LinkTo @route="subscribe" class="navbar-item" @activeClass="is-active">
        Blijf op de hoogte
      </LinkTo>
    </div>
  </div>
</nav>
