<div
  ...attributes
  class="is-flex is-flex-direction-row is-align-items-center is-justify-content-space-between"
  style="white-space:nowrap"
>
  {{#if this.hasMultiplePages}}
    <nav class="pagination is-small" role="navigation" aria-label="pagination">
      <LinkTo
        @query={{hash page=this.previousPage}}
        class="pagination-previous"
        disabled={{this.isFirstPage}}
      >
        Vorige
      </LinkTo>
      <LinkTo
        @query={{hash page=this.nextPage}}
        class="pagination-next"
        disabled={{this.isLastPage}}
      >
        Volgende
      </LinkTo>
    </nav>
  {{/if}}
</div>