<p ...attributes style="white-space:nowrap">
  <span class="m-1">
    <strong>
      {{this.from}}
      -
      {{this.to}}
    </strong>
  </span>
  <span class="my-1 mr-1">
    van
    {{@count}}
  </span>
</p>
