<div class="is-flex is-align-items-center" style="white-space:nowrap">
  <strong class="mr-2 is-size-7">
    <label for="sort-select">
      Sorteer op
    </label>
  </strong>
  <div class="select is-small">
    <select
      name="sort options"
      id="sort-select"
      {{on "change" this.optionSelected}}
    >
      {{#each-in this.SORT_OPTIONS as |optionId sortOption|}}
        <option value={{optionId}} selected={{(eq optionId this.selected)}}>
          {{sortOption.text}}
        </option>
      {{/each-in}}
    </select>
  </div>
</div>