<div
  class="select is-flex is-flex-direction-row is-small is-align-items-center is-justify-content-end"
>
  <strong class="mr-2">
    Sorteer op
  </strong>
  <select>
    <option>
      Relevantie
    </option>
    <option>
      Datum
    </option>
  </select>
</div>