<h3 class="title is-3">
  Welkom bij LokaalBeslist.be!
</h3>
<p class="subtitle is-5">
  Deze pagina bundelt verschillende vaak gestelde vragen. Staat jouw vraag er
  niet tussen? Open een
  <a href="https://github.com/redpencilio/app-lokaalbeslist/issues/new">
    issue op GitHub
  </a>
  zodat we deze kunnen beantwoorden.
</p>


<div class="content">
  <h4 class="title is-4">Wat is LokaalBeslist.be?</h4>
  <div class="content">
    LokaalBeslist.be probeert burgers dichter bij de beslissingen van hun lokale
    besturen te krijgen door agendapunten, besluiten en zittingen gemakkelijk
    doorzoekbaar te maken. Zoeken kan via een algemene zoekterm, per gemeente,
    of zelfs aan de hand van welke attributen bekend zijn (geavanceerd). Als je
    je resultaten hebt, kan je op een agendapunt klikken om meer details te zien
    of door de zitting te bladeren.
  </div>
  <div class="content">
    Daarnaast is het ook mogelijk om op de hoogte te blijven van toegevoegde of
    gewijzigde agendapunen die je interesseren. Je kan je zoek-filters opslaan
    met de knop "Houd me op de hoogte" onderaan de zoekbalk of je eigen filters
    <LinkTo @route="subscribe">hier</LinkTo>
    instellen.
  </div>

  <h4 class="title is-4">Hoe komt LokaalBeslist.be aan data?</h4>
  <div class="content">
    LokaalBeslist.be laat toe om te zoeken in de agendapunten, besluiten en
    zittingen van alle lokale besturen van Vlaanderen. Dit is mogelijk doordat
    lokale besturen sinds 30 juni 2021 verplicht zijn om hun data gelinkt te
    publiceren zodat deze leesbaar is voor een programma zoals LokaalBeslist.be.
    Meer informatie hierover kan je vinden op
    <a href="https://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data">
        de website van LBLOD
    </a>.
  </div>
  <h4 class="title is-4">
    Er is iets mis met de data (ontbrekende eigenschappen, verkeerde informatie, ...)
  </h4>
  <div class="content">
    We halen onze data rechtstreeks van de websites van de lokale besturen, dus
    als daar fouten inzitten nemen wij die over. Denk je dat de fout in de data
    toch van onze kant komt of heb je een idee hoe we LokaalBeslist.be nog beter
    kunnen maken, maak dan gerust een
    <a href="https://github.com/redpencilio/app-lokaalbeslist/issues/new">
      issue aan op GitHub
    </a>.
  </div>
</div>
