<div class="redirect-page">
  <div class="lokaalbeslist-groeide-door">
    <p><a href="https://lokaalbeslist.be">https://lokaalbeslist.be</a> groeide door tot <a class="highlight" href="https://lokaalbeslist.vlaanderen.be">https://lokaalbeslist.vlaanderen.be</a> ...</p>
    {{#unless (eq this.counter null)}}
      <p>We verwijzen je automatisch door binnen {{this.counter}}s</p>
    {{/unless}}
  </div>

  <div class="footer">
    <LinkTo class="to-search" @route="search">ga tóch naar lokaalbeslist.be</LinkTo>

    <a class="redpencil-logo" href="https://redpencil.io">redpencil<span style="color: red">.</span>io</a>
  </div>
</div>