<Navbar />
<section class="hero is-primary" style="margin-top: 30vh">
  <div class="hero-body">
    <div class="">
      <p class="title">
        Ingeschreven!
      </p>
      <p>
        U heeft succesvol geabboneerd op uw geprefereerde agendapunten.
        U ontvangt binnenkort een email met de toegang tot uw abonnement-instellingen.
        Bewaar deze email goed, deze is nodig om uw abonnement te wijzigen.
      </p>
      <button class="button mt-3">
        <LinkTo @route="search">Terug naar de hoofdpagina</LinkTo>
      </button>
    </div>
  </div>
</section>