<div class="columns px-5 py-4">
  <div class="column is-one-quarter-desktop is-one-third-tablet">
    <Zoek::ZoekFilter />
  </div>
  <div class="column">
    <Zoek::ZoekResultaten @results={{this.model}} />
  </div>
</div>
{{outlet}}