{{log this.model}}
<div class="columns">
  <div class="column">
    <Zoek::ZoekFilter />
  </div>
  <div class="column">
    <Zoek::ZoekResultaten @results={{this.model}} />
  </div>
</div>
{{outlet}}